body  {
  background-color: lightgray;
  margin: 1;
  padding: 0px;
}

h1 {
  color: #8c6c0cc5;
  text-align: center;
}

head {
    background-color: #c8c2afc5;
    color: white;
    padding: 10px;
}

header {
    background-color: #c8c2afc5;
    color: white;
    padding: 10px;
}

h2 {
    color: #8c6c0cc5;
}

h3 {
    color: #8c6c0cc5;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(245, 143, 107);
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: rgb(221, 230, 173);
  padding: 40px;
  text-align: center;
  flex: 0 1 10%; 
}

.responsive-box {
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .responsive-box {
    background-color: lightcoral;
  }
}

@media (min-width: 601px) {
  .responsive-box {
    background-color: rgb(97, 176, 172);
  }
}
