body {
  background-color: lightgray;
}

h1{
        color: #958518;
        text-align: center;
        background-color: rgb(216, 223, 215);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #9d6d0b;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #8c6c0cc5;
}

form {
  flex-direction: column;
  gap: 1px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 6px;
  border: 1px solid #836609;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #958518;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #958518;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(245, 143, 107);
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: rgb(221, 230, 173);
  padding: 40px;
  text-align: center;
  flex: 0 1 10%; 
}

.responsive-box {
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .responsive-box {
    background-color: lightcoral;
  }
}

@media (min-width: 601px) {
  .responsive-box {
    background-color: rgb(97, 176, 172);
  }
}

.pseudo-list li:nth-child(odd) {
        background-color: rgb(225, 146, 117);
      }

      .pseudo-list li:nth-child(even) {
        background-color: rgb(223, 199, 207);
      }