.body {
   background-color: #f8f6f2; 
   font-family: "Segoe UI", "Arial Narrow", sans-serif;
   font-size: 1rem;
}

.header {
  font-size: 10px;
  text-align: center;
  margin: 20px 0;
}

h1 {
    font-family: "Segoe UI", "Arial Narrow", sans-serif;
    font-weight: 300; /* Tekee fontista ohuen ja elegantin */
    letter-spacing: 1px; /* Levittää kirjaimia hieman, näyttää upealta */
    color: #333;
    text-align: center; /* Keskittää otsikot */
    background-color: #e7e3d9; /* Vaalea taustaväri otsikoille */
    padding: 20px; /* Lisää tilaa otsikoiden ympärille */
} 

h2, h3, h4 {
    font-family: "Segoe UI", "Arial Narrow", sans-serif;
    font-weight: 300; /* Tekee fontista ohuen ja elegantin */
    letter-spacing: 1px; /* Levittää kirjaimia hieman, näyttää upealta */
    color: #333;
    text-align: center; /* Keskittää otsikot */
    background-color: #e7e3d9; /* Vaalea taustaväri otsikoille */
    padding: 10px; /* Lisää tilaa otsikoiden ympärille */
    border-radius: 8px; /* Pyöristää otsikoiden kulmat */

}

/*Cards*/
.card-img-top {
    width: 100%;
    height: 300px; /* Voit muuttaa tätä sen mukaan, kuinka korkean haluat */
    object-fit: cover;
    object-position: center; /* Pitää huolen, että kuvan keskikohta on näkyvissä */
}

/* Navbar */
.navbar-nav .nav-link {
    font-size: 15px; /* Voit muuttaa tätä haluamasi kokoiseksi */
    padding: 10px 15px; /* Lisää tilaa linkkien ympärille */
}

/*Historia sivun tyylit*/
.history-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 10%;
}

.history-section img {
    width: 80%;
    border-radius: 12px;
    max-width: 450px; /* Tämä estää kuvaa leviämästä liian jättimäiseksi, jos ruutu on todella leveä */
    display: block;
    margin: 0 auto; /* Keskittää kuvan vaakasuunnassa */
}

.history-image { 
    flex: 1,5; /* Kuva saa enemmän tilaa (n. 60 %) */
}

.history-text {
    flex: 1; /* Teksti tyytyy vähempään (n. 40 %) */
}

.reverse {
    flex-direction: row-reverse;
}

/* Responsiivisuus historia -osioon*/
@media (max-width: 768px) {
    .history-section {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column;
    }
}

/* Historia sivun karusellin tyylit */
.carousel-item img {
    height: 1000px; /* Voit muuttaa tätä haluamasi korkeudeksi */
    object-fit: cover;
    object-position: center;
}

/* Lähdeteksti historia sivulle */
.lahdeteksti {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

/* Tyyli, mistä tunnistaa Tykin*/
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap; /* This allows items to move to the next line */
}

.box {
  background-color: rgb(179, 123, 136);
  padding: 20px;
  text-align: center;
  flex: 1 1 100%;
  border-style: ridge;
}

.responsive-box {
  padding: 20px;
  text-align: center;
}

.btn-primary {
    background-color: rgb(127, 101, 107);
    border-color: rgb(45, 20, 26);
}